langgraph
langchain
langchain_groq
python-dotenv
langchain-community
langchain-core
langchain-openai
pydantic
wikipedia
langchain-huggingface
langchain-astradb
sentence-transformers
langchain-tavily
fastapi
uvicorn
markdown
langsmith
langchain-google-genai
typing