langgraph
langchain
typing
langchain_groq
python-dotenv
langchain_community
Chromadb
faiss-cpu
langchain-community
langchain-core
langchain-openai
pydantic
wikipedia
langchain-huggingface
markdown
langchain-astradb
sentence-transformers
langchain-tavily

Fastapi
uvicorn
langsmith 
langchain-google-genai

Future Requirements:
- AWS for deployment
- Docker for containerization
- Kubernetes for orchestration
